:root {
  --color-light-gray: #757575;
  --color-gray: #424242;
  --color-dark-gray: #212121;
  --color-blue: #01579b;
  --color-dark-blue: #002f6c;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

body {
  font-family: 'Fugaz One', cursive;
  background-color: var(--color-gray);
  text-align: center;
}

.game {
  background: url(img/background.png) center/cover;
  border-radius: 20px;
  position: relative;
  width: 1200px;
  height: 675px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__header {
  display: flex;
  align-items: center;
}

.game-btn {
  width: 90px;
  height: 90px;
  position: relative;
  color: var(--color-dark-blue);
  background-color: whitesmoke;
  border-radius: 50%;
}

.game-btn i {
  color: var(--color-dark-blue);
  font-size: 90px;
  transition: all 300ms ease;
}

.game-btn i:hover {
  transform: scale(1.1);
}

.timer-box {
  position: relative;
  border: 1px solid var(--color-light-gray);
  background-color: var(--color-dark-gray);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.timer-circle {
  border: 11px solid var(--color-blue);
  width: 145px;
  height: 145px;
  border-radius: 50%;
}

.timer-face {
  color: whitesmoke;
  width: 120px;
  height: 120px;
  border: 1px solid var(--color-light-gray);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 120px;
  font-size: 30px;
  font-weight: bolder;
}

.timer-sec {
  position: absolute;
  top: 2px;
  left: 10px;
}

.timer-center {
  position: absolute;
  top: 0;
  left: 55px;
}

.timer-millisec {
  position: absolute;
  top: 2px;
  right: 10px;
}

.carrot-count {
  color: whitesmoke;
  font-size: 50px;
  background-color: var(--color-dark-blue);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  line-height: 90px;
  margin: 10px auto;
  border: 1px solid var(--color-light-gray);
}

.item {
  position: absolute;
  cursor: pointer;
}

.pop-up {
  width: 520px;
  height: 330px;
  background-color: #00000080;
  border-radius: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  transform: translateY(-130%);
}

.pop-up--hide {
  display: none;
}

.pop-up__btn {
  z-index: 1;
}

.pop-up__btn i {
  font-size: 60px;
  color: whitesmoke;
  transition: all 200ms ease;
}

.pop-up__btn i:hover {
  transform: scale(1.2);
}

.pop-up__message {
  margin: 40px 0;
  font-size: 60px;
  color: whitesmoke;
  z-index: 1;
}
